
<div class="card-columns container">
    <div class="card bg-secondary" style="height: 250px;">
      <div class="card-body text-center">
        <div ngbDropdown class="d-inline-block">
        <button class="btn btn-primary" id="dropdownForm1" ngbDropdownToggle>Add City</button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1" style="width: 300px;">
          <form class="px-4 py-3 ">
            <div class="form-group">
              <input type="text" class="form-control" name="city" [(ngModel)]="city" placeholder="Enter City Name" >
            </div>
            <button type="submit" class="btn btn-primary" (click)="submit()">Add</button>
            
          </form>
          <div class="dropdown-divider"></div>
           
        </div>
      </div>
      </div>
      <h2 class="ml-5">{{weather.city}}</h2>
      <img [src]="weather.icon" class="ml-5">
      <div class="row ml-3">
        <h1 class="mr-3">{{weather.temperature}}</h1>
        <h1 class="text-right ">{{weather.conditions}}</h1>
      </div>
      
    </div>
    
    <div class="card bg-secondary" style="height: 250px;">
      <div class="card-body text-center">
        <div ngbDropdown class="d-inline-block">
        <button class="btn btn-primary" id="dropdownForm1" ngbDropdownToggle>Add City</button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1" style="width: 300px;">
          <form class="px-4 py-3 ">
            <div class="form-group">
              <input type="text" class="form-control" name="city" [(ngModel)]="city" placeholder="Enter City Name">
            </div>
            <button type="submit" class="btn btn-primary" (click)="submit1()">Add</button>
          </form>
          <div class="dropdown-divider"></div>
        </div>
      </div>
      </div>
      <h2 class="ml-5">{{weather.city1}}</h2>
      <img [src]="weather.icon1" class="ml-5">
      <div class="row ml-3">
        <h1 class="mr-3">{{weather.temperature1}}</h1>
        <h1 class="text-right ">{{weather.conditions1}}</h1>
      </div>
    </div>

    <div class="card bg-secondary" style="height: 250px;">
      <div class="card-body text-center">
        <div ngbDropdown class="d-inline-block">
        <button class="btn btn-primary" id="dropdownForm1" ngbDropdownToggle>Add City</button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1" style="width: 300px;">
          <form class="px-4 py-3 ">
            <div class="form-group">
              <input type="text" class="form-control" name="city" [(ngModel)]="city" placeholder="Enter City Name">
            </div>
            <button type="submit" class="btn btn-primary" (click)="submit2()">Add</button>
          </form>
          <div class="dropdown-divider"></div>
        </div>
      </div>
      </div>
      <h2 class="ml-5">{{weather.city2}}</h2>
      <img [src]="weather.icon2" class="ml-5">
      <div class="row ml-3">
        <h1 class="mr-3">{{weather.temperature2}}</h1>
        <h1 class="text-right ">{{weather.conditions2}}</h1>
      </div>
    </div>

    <div class="card bg-secondary" style="height: 250px;">
      <div class="card-body text-center">
        <div ngbDropdown class="d-inline-block">
        <button class="btn btn-primary" id="dropdownForm1" ngbDropdownToggle>Add City</button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1" style="width: 300px;">
          <form class="px-4 py-3 ">
            <div class="form-group">
              <input type="text" class="form-control" name="city" [(ngModel)]="city" placeholder="Enter City Name">
            </div>
            <button type="submit" class="btn btn-primary" (click)="submit3()">Add</button>
          </form>
          <div class="dropdown-divider"></div>
        </div>
      </div>
      </div>
      <h2 class="ml-5">{{weather.city3}}</h2>
      <img [src]="weather.icon3" class="ml-5">
      <div class="row ml-3">
        <h1 class="mr-3">{{weather.temperature3}}</h1>
        <h1 class="text-right ">{{weather.conditions3}}</h1>
      </div>
    </div>

    <div class="card bg-secondary" style="height: 250px;">
      <div class="card-body text-center">
        <div ngbDropdown class="d-inline-block">
        <button class="btn btn-primary" id="dropdownForm1" ngbDropdownToggle>Add City</button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1" style="width: 300px;">
          <form class="px-4 py-3 ">
            <div class="form-group">
              <input type="text" class="form-control" name="city" [(ngModel)]="city" placeholder="Enter City Name">
            </div>
            <button type="submit" class="btn btn-primary" (click)="submit4()">Add</button>
          </form>
          <div class="dropdown-divider"></div>
        </div>
      </div>
      </div>
      <h2 class="ml-5">{{weather.city4}}</h2>
      <img [src]="weather.icon4" class="ml-5">
      <div class="row ml-3">
        <h1 class="mr-3">{{weather.temperature4}}</h1>
        <h1 class="text-right ">{{weather.conditions4}}</h1>
      </div>
    </div>

    <div class="card bg-secondary" style="height: 250px;">
      <div class="card-body text-center">
        <div ngbDropdown class="d-inline-block">
        <button class="btn btn-primary" id="dropdownForm1" ngbDropdownToggle>Add City</button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1" style="width: 300px;">
          <form class="px-4 py-3 ">
            <div class="form-group">
              <input type="text" class="form-control" name="city" [(ngModel)]="city" placeholder="Enter City Name">
            </div>
            <button type="submit" class="btn btn-primary" (click)="submit5()">Add</button>
          </form>
          <div class="dropdown-divider"></div>
        </div>
      </div>
      </div>
      <h2 class="ml-5">{{weather.city5}}</h2>
      <img [src]="weather.icon5" class="ml-5">
      <div class="row ml-3">
        <h1 class="mr-3">{{weather.temperature5}}</h1>
        <h1 class="text-right ">{{weather.conditions5}}</h1>
      </div>
    </div>

    <div class="card bg-secondary" style="height: 250px;">
      <div class="card-body text-center">
        <div ngbDropdown class="d-inline-block">
        <button class="btn btn-primary" id="dropdownForm1" ngbDropdownToggle>Add City</button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1" style="width: 300px;">
          <form class="px-4 py-3 ">
            <div class="form-group">
              <input type="text" class="form-control" name="city" [(ngModel)]="city" placeholder="Enter City Name">
            </div>
            <button type="submit" class="btn btn-primary" (click)="submit6()">Add</button>
          </form>
          <div class="dropdown-divider"></div> 
        </div>
      </div>
      </div>
      <h2 class="ml-5">{{weather.city6}}</h2>
      <img [src]="weather.icon6" class="ml-5">
      <div class="row ml-3">
        <h1 class="mr-3">{{weather.temperature6}}</h1>
        <h1 class="text-right ">{{weather.conditions6}}</h1>
      </div>
    </div>

    <div class="card bg-secondary" style="height: 250px;">
      <div class="card-body text-center">
        <div ngbDropdown class="d-inline-block">
        <button class="btn btn-primary" id="dropdownForm1" ngbDropdownToggle>Add City</button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1" style="width: 300px;">
          <form class="px-4 py-3 ">
            <div class="form-group">
              <input type="text" class="form-control" name="city" [(ngModel)]="city" placeholder="Enter City Name">
            </div>
            <button type="submit" class="btn btn-primary" (click)="submit7()">Add</button>
          </form>
          <div class="dropdown-divider"></div> 
        </div>
      </div>
      </div>
      <h2 class="ml-5">{{weather.city7}}</h2>
      <img [src]="weather.icon7" class="ml-5">
      <div class="row ml-3">
        <h1 class="mr-3">{{weather.temperature7}}</h1>
        <h1 class="text-right ">{{weather.conditions7}}</h1>
      </div>
    </div>

    <div class="card bg-secondary" style="height: 250px;">
      <div class="card-body text-center">
        <div ngbDropdown class="d-inline-block">
        <button class="btn btn-primary" id="dropdownForm1" ngbDropdownToggle>Add City</button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1" style="width: 300px;">
          <form class="px-4 py-3 ">
            <div class="form-group">
              <input type="text" class="form-control" name="city" [(ngModel)]="city" placeholder="Enter City Name">
            </div>
            <button type="submit" class="btn btn-primary" (click)="submit8()">Add</button>
          </form>
          <div class="dropdown-divider"></div>
        </div>
      </div>
      </div>
      <h2 class="ml-5">{{weather.city8}}</h2>
      <img [src]="weather.icon8" class="ml-5">
      <div class="row ml-3">
        <h1 class="mr-3">{{weather.temperature8}}</h1>
        <h1 class="text-right ">{{weather.conditions8}}</h1>
      </div>
    </div>
  </div>


 



  